body{
	background-image: url(https://media.giphy.com/media/11LK0CKzYtkaic/giphy.gif);
	 background-attachment:fixed;
}
table{
	 position: center;
	 width: fit-content;
    margin-right: auto;
    margin-left: 15%;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th, tr, td{
   text-align: center;
    border: 5px red;
    background-color: whitesmoke;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

form{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align:center;
	width: fit-content;
    margin-right: auto;
    margin-left: auto;
    float: right;
    margin-right: 10%
}
#newPro{
	text-align: center;
	background-color: whitesmoke;
    width: fit-content;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

	}
	
h1{
    text-align: center;
    color: black;
    background-color: white;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h2{
	text-align: center;
    color: black;
    background-color: white;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
h3{
text-align: center;
    color: black;
    background-color: white;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 35px;	
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#choi{
	text-align: center;
	margin-right: auto;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
nav{
	text-align: center;
	margin-right: auto;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}