
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#asset{
	background-color: none;
}
h1{
    text-align: center;
    color: black;
    background-color: white;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 50px;
    }
th, tr, td{
   text-align: center;
    background-color: whitesmoke;
    padding: 5px;
    }

#halos{
	background-color: whitesmoke;
	width: fit-content;
	margin-right: auto;
    margin-left: auto;
    float:left;
    margin-left: 10%;
    margin-right: auto;
        opacity:.9;
    
}

table{
	 width: fit-content;
    margin-left: auto;
    margin-right: 25%;
    float: right;
    margin-bottom: 10%;
}
body{
	background-image:url(https://media.giphy.com/media/xTiTnHRfIsVvebf2tW/giphy.gif);
	background-attachment: fixed;
}
nav{
	text-align: center;
	margin-right: auto;
    margin-left: auto;
}
h2{
	text-align: center;
    background-color: white;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 40px;
    opacity: .8;
    
}
h3{
	text-align: center;
	background-color: white;
	width: fit-content;
	margin-right: auto;
    margin-left: auto;
        opacity:.8;
    
	
}
#menuDiv{
	text-align: center;
	margin-right: auto;
    margin-left: auto;
}

#home{
	font-size:20px;
	width: fit-content;
	heigth: 200px
	
}